<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": {{- .Site.Home.Permalink -}},
    "logo": {{ "/noviyanto.webp" | absURL }},
  }
</script>

<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": {{ .Site.Home.Permalink }}, 
    "sameAs": [
      {{ .Site.Params.homepage.social.twitter }}, 
      {{ .Site.Params.homepage.social.github }}
    ], 
    "name": {{ .Title }}, 
    "logo": {{ "/favicon.ico" | absURL }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
          "urlTemplate": "https://www.noviyanto.com/?s={search_term_string}",
      },
      "query-input": "required name=search_term_string"
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "{{ .Site.Title }}",
      "item": {{ .Site.BaseURL }}
    }
    {{ if and (or .IsNode .IsPage) (not .IsHome)}}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": 
        {{- if or (and .Parent .Parent.IsHome) .IsNode -}}
          {{- .Title -}}
        {{- else -}}
          {{- .Parent.Title -}}
        {{ end }},
      {{ if and (not (and .Parent .Parent.IsHome)) .IsPage }}
        "item": {{ .Parent.Permalink }}
      {{ end }}
    }
    {{ end }}
    {{ if .Parent }}
      {{ if and (not .Parent.IsHome) .IsPage }}
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ .Title }}"
      }
      {{ end }}
    {{ end }}
    ]
  }
</script>

{{ $content := . }}
{{ $site := .Site }}
<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "BlogPosting",
    "name": {{ .Title }},
    "description": {{ .Params.Description | plainify }},
    "mainEntityOfPage": {{ .Permalink }},
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
    "headline": {{ .Title }},
    "author": [
   
          "@type": "Person",
          "name": "{{ .Site.Author.name }}",
          "url": "https://www.noviyanto.com",
 
    ],
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "wordCount": {{ .WordCount }},
   
    "url": {{ .Permalink  }},
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "imageObject",
        "url": {{ "/noviyanto.webp" | absURL }}
      }
    },    
    {{ with .Params.Tags }}
      "keywords": {{ delimit . ", " }}
    {{ end }}
  }
</script>